<section class=" row w-100 posotion-fixed " id="startbar">
    <div class="logodiv col-lg-4">
       
            <img src="\assets\logo.png" class="logo">
       

       
    </div>
    
        <div class="col-lg-4 div1 bg-dark">
            <i class="fas fa-phone-square-alt ms-3 text-warning "></i>
            <span class="ms-3 text-white-50">92 666 888 0000</span>
            <i class="fas fa-envelope ms-3 text-warning"></i>
            <span class="ms-3 text-white-50">needhelp@company.com</span>
        </div>
        <div class="col-lg-4 div2 bg-dark">
            <i class="fab fa-facebook-f text-white-50 ms-4"></i>
            <i class="fab fa-twitter text-white-50 ms-4"></i>
            <i class="fab fa-instagram-square text-white-50 ms-4"></i>

        </div>
       
        
    
   


</section>
