<section class="row w-100 position-relative">
    <div id="carouselExampleControls" class="carousel slide col-12" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item slide1 active">
              <div class="centerdiv ">
                  <p class="p1">helping them today</p>
                  <p class="p2">help the poor in need</p>
                  <button class="btn">learn more</button>
        
              </div>
          </div>
          <div class="carousel-item slide2 ">
            <div class="centerdiv ">
                <p class="p1">helping them today</p>
                <p class="p2">help the poor in need</p>
                <button class="btn">learn more</button>
      
            </div>
            
          </div>
          <div class="carousel-item slide3 ">
            <div class="centerdiv ">
                <p class="p1">helping them today</p>
                <p class="p2">help the poor in need</p>
                <button class="btn">learn more</button>
      
            </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="position-absolute row bg-light ldiv">
          <div class="col-lg-4 col-sm-12 sdiv">
            <div >
                <div class="row">
                  <div class="bg1 col-6">
                      <i class="fas fa-hand-holding-heart i1"></i>
                    </div>
                    <div class="col-6 indiv">become volunter</div>
                </div>
               
                <div  class="pdiv">
                  There are many of lorem Ipsum, but the majori have suffered alteration in some form.
                </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 sdiv">
            <div >
                <div class="row">
                  <div class="bg2 col-6">
                      <i class="fas fa-book i2 "></i>
                    </div>
                    <div class="col-6 indiv">quick fundarise</div>
                </div>
                <div class="pdiv">
                  There are many of lorem Ipsum, but the majori have suffered alteration in some form.
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 sdiv">
            <div >
                <div class="row">
                  <div class="bg3 col-6">
                      <i class="fas fa-heart i3 "></i>
                    </div>
                    <div class="col-6 indiv">start donating</div>
                </div>
                <div class="pdiv">
                  There are many of lorem Ipsum, but the majori have suffered alteration in some form.
                </div>
            </div>
          </div>
      </div>
      <div class="row seconddiv">
        <div class="col-lg-6 col-sm-12">
          <div>
            <img src="/assets/welcome_one_img_1.jpg" class="girlimg">
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <div>
            <span class="span1">helping today</span>
            <h1 class="h1">Our Goal is to Help Poor People</h1>
            <p class="text-secondary  fs-2">Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore et simply free text dolore magna aliqua lonm andhn.</p>
            <div class="row fs-4">
              <div class="col-12 p-2">
                <i class="fas fa-lightbulb ms-3 text-warning"></i>
                <span class="ms-3">Nsectetur cing do not elit.</span>
               
                
              </div>
              <div class="col-12 p-2">
                <i class="fas fa-lightbulb ms-3 text-warning"></i>
                <span class="ms-3">Suspe ndisse suscipit sagittis in leo.</span>
              </div>
              <div class="col-12 p-2">
                <i class="fas fa-lightbulb ms-3 text-warning"></i>
                <span class="ms-3">Suspe ndisse suscipit sagittis in leo.</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    
</section>