<footer class="bg-dark text-white-50 " >
    <div class="row bigdiv">
        <div class="col-lg-3 col-m-6 col-sm-12">
            <div class="p-3">
                <img src="\assets\footer-logo.png" >
            </div>
            <div class="p-3">Lorem ipsum dolor sit ame consect etur pisicing elit sed do eiusmod tempor incididunt ut labore.</div>
            <div class="p-3">
                <i class="fab fa-facebook-square text-white bg-primary ms-3 rounded-circle fs-2"></i>
                <i class="fab fa-twitter text-white bg-info ms-3 rounded-circle fs-2"></i>
                <i class="fab fa-google-plus-g text-white bg-danger ms-3 rounded-circle fs-2"></i>
                <i class="fab fa-instagram text-white bg-warning ms-3 rounded-circle fs-2"></i>
            </div>
        </div>
        <div class="col-lg-3 col-m-6 col-sm-12 row text-capitalize text-white-50">
            <h2 class="text-capitalize text-white col-12">explore</h2>
            <div class="col-6 mt-4">donate</div>
            <div class="col-6 mt-4">fundarizing</div>
            <div class="col-6 mt-4">campaigns</div>
            <div class="col-6 mt-4">contact</div>
            <div class="col-6 mt-4">fundarize</div>
            <div class="col-6 mt-4">help</div>
            <div class="col-6 mt-4">volunteers</div>
            <div class="col-6 mt-4">faqs</div>
            <div class="col-6 mt-4">sponsors</div>

        </div>
        <div class="col-lg-3 col-m-6 col-sm-12">
            <h1 class="text-capitalize text-white">contact</h1>
            <div class="mt-3">
                <i class="fas fa-lightbulb text-warning "></i>
                <span class="ms-3">666 8888 00000</span>
            </div>
            <hr>
            <div class="mt-3">
                <i class="fas fa-envelope text-warning "></i>
                <span class="ms-3">needhelp@company.com</span>
            </div>
            <hr>
            <div class="mt-3">
                <i class="fas fa-map-marker-alt text-warning "></i>
                <span class="ms-3">666 road, broklyn street new york 600</span>
            </div>
        </div>
        <div class="col-lg-3 col-m-6 col-sm-12">
            <h1 class="text-capitalize text-white">support</h1>
            <div class="p-3 mt-4">Lorem ipsum dolor sit ame consect etur pisicing elit sed do eiusmod tempor incididunt ut labore.</div>
            <button class=" donatebtn  mt-4">
                <i class="fas fa-heart "></i>
                donate</button>

        </div>
    </div>
</footer>
